body {
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 36pt;
  text-align: center;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2mm;
  min-height: 100vh;
}

.center {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 30cm;
  flex-grow: 1;
}

.menu_button {
  font-weight: bolder;
  font-size: 28pt;
  padding: 1cm;
  margin: 2mm 0;
  width: 100%;
  font-variant: small-caps;
}

.clickable {
  cursor: pointer;
  border-style: none;
  background-color: var(--clickable-bg);
  border-radius: 1cm;
  user-select: none;
}

.clickable:hover {
  filter: brightness(var(--lightness-hover));
}

.clickable:active {
  filter: brightness(var(--lightness-active));
}

.clickable:disabled {
  cursor: not-allowed;
  filter: brightness(50%);
}

.clickable:disabled:hover {
  filter: brightness(50%);
}

.clickable:disabled:active {
  filter: brightness(50%);
}

.player_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.thumbnail {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 5cm;
  margin: 2mm;
}

.thumbnail p {
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  font-size: 16pt;
  margin: 3%;
}

.thumbnail img {
  display: block;
  border-radius: inherit;
  width: 100%;
}

.decklist {
  text-align: center;
  padding: 5vw 5vh;
  padding-top: 10vh;
  z-index: 1;
}

.close {
  position: absolute;
  display: block;
  top: 5vh;
  right: 5vw;
  font-size: 16pt;
  padding: 2px;
  border-radius: 1vw;
  background-color: var(--close-bg);
  border: 4px solid;
  border-color: hsl(var(--close-bg-hs), 50%);
}

.selected {
  background-color: var(--selected-bg);
}

.home {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  width: 16pt;
  height: 16pt;
  border-radius: 16pt;
  background-image: url("/images/untap.png");
  background-size: contain;
  z-index: 2;
}

.table_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 2mm;
}

.table_players {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table_num {
  display: flex;
  width: 5cm;
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
  font-size: 36pt;
  font-style: italic;
  margin: 2mm;
}

.table_button {
  font-size: 36pt;
  font-weight: bold;
  padding: 2mm;
  width: 100%;
}

.hidden {
  display: none !important;
}